footer{
    position: absolute;
    width: 100%;
    min-height: 15px;
    background-color: rgb(41, 40, 40);
    bottom: 0;
    color: rgb(255, 255, 255);
    /* padding: 2px; */
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    footer{
        position: absolute;
        width: 100%;
        background-color: rgb(41, 40, 40);
        bottom: 0;
    }
}